---
import { Icon } from "astro-icon/components";
import { getI18n } from "src/i18n/i18n";

const { t } = await getI18n(Astro.locals.currentLocale);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<div id="title">
  <Icon name="accords" />
  <div>
    <h1 class="font-serif font-5xl">{t("global.siteName")}</h1>
    <p>{t("global.siteSubtitle")}</p>
  </div>
</div>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  #title {
    display: flex;
    place-items: center;
    gap: 1em;

    & > svg {
      width: calc(var(--font-size-5xl) * 1.2);
      margin-top: 0.5em;
    }

    & > div {
      & > p {
        margin-top: -0.15em;
        font-size: calc(var(--font-size-5xl) * 0.39);
        font-weight: 700;
      }
    }

    @media (max-width: 35rem) {
      flex-direction: column;
      place-items: center;
      margin-bottom: 3em;
      --container-width: calc((100vw - 48px));

      & > svg {
        width: calc(var(--container-width) / 3);
        height: calc(var(--container-width) / 3);
      }

      & > div {
        & > h1 {
          font-size: calc(var(--container-width) / 9);
        }

        & > p {
          margin-top: -0.1em;
          font-size: calc(var(--container-width) / 23);
        }
      }
    }
  }
</style>
