---
import RichText from "components/RichText/RichText.astro";
import type { CueBlock } from "src/shared/payload/blocks";

interface Props {
  block: CueBlock;
  lang?: string | undefined;
}

const { block, lang } = Astro.props;
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<div>
  <RichText content={block.content} context={{ lang }} />
</div>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  div {
    grid-column: span 2;
  }
</style>
