---
import { SpacerSizes, type SpacerBlock } from "src/shared/payload/payload-sdk";

interface Props {
  block: SpacerBlock;
}

const { block } = Astro.props;

const spaceSizeToRem: Record<SpacerSizes, number> = {
  [SpacerSizes.Small]: 1,
  [SpacerSizes.Medium]: 2,
  [SpacerSizes.Large]: 4,
  [SpacerSizes.XLarge]: 8,
};
---

<div style={`height: ${spaceSizeToRem[block.size]}rem`}></div>
