---

---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<span><slot /></span>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  span {
    font-family: monospace;
  }
</style>
