---

---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<span><slot /></span>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  span {
    text-decoration: underline;
  }
</style>
