---
import type { RichTextContext } from "src/utils/richText";
import RTSection from "./components/RTSection.astro";
import RTTranscript from "./components/RTTranscript.astro";

interface Props {
  node: {
    type: string;
    version: number;
    format: number;
    text: string;
    [k: string]: unknown;
    fields: {
      id: string;
      blockName: string;
      blockType: string;
    };
  };
  context: RichTextContext;
}

const { node, context } = Astro.props;

let NodeElement;
switch (node.fields.blockType) {
  case "sectionBlock":
    NodeElement = RTSection;
    break;

  case "transcriptBlock":
    NodeElement = RTTranscript;
    break;
}
---

{
  NodeElement ? (
    <NodeElement node={node} context={context} />
  ) : (
    <p>{`Unknown block type: ${node.fields.blockType}. Please contact website technical administrator.`}</p>
  )
}
