---
import type { TableOfContentEntry } from "src/shared/payload/payload-sdk";
import TableOfContentItem from "./components/TableOfContentItem.astro";
import { getI18n } from "src/i18n/i18n";
import TitleIcon from "components/TitleIcon.astro";

interface Props {
  toc: TableOfContentEntry[];
}

const { toc } = Astro.props;
const { t } = await getI18n(Astro.locals.currentLocale);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<div>
  <TitleIcon title={t("pages.tableOfContent")} icon="material-symbols:list-alt" />
  <ol>
    {toc.map((entry) => <TableOfContentItem entry={entry} />)}
  </ol>
</div>
