---
interface Props {
  pretitle: string;
  title: string;
  subtitle: string;
  href: string;
}

const { pretitle, subtitle, title, href } = Astro.props;
---

<a href={href} class="pressable">
  <p class="pretitle">{pretitle}</p>
  <h3>{title}</h3>
  <p>{subtitle}</p>
</a>

<style>
  a {
    display: flex;
    place-items: center;
    gap: 1em;
    color: var(--color-base-1000);
    padding: 1.5em;
    border-radius: 0.75em;
    text-decoration: none;

    & > svg {
      width: clamp(1.5em, 6vw + 0.8em, 3em);
      height: clamp(1.5em, 6vw + 0.8em, 3em);
      flex-shrink: 0;
    }

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.15em;

    & > h3 {
      font-size: 1.5em;
      margin-bottom: 0.5em;
    }

    & > .pretitle {
      font-size: 1em;
    }

    & > p {
      font-size: 0.8em;
    }
  }
</style>
