---
import Button from "components/Button.astro";
import Tooltip from "components/Tooltip.astro";
import { getI18n } from "src/i18n/i18n";
import { contextCache } from "src/services";
import { formatCurrency } from "src/utils/currencies";
import {
  PostProcessingTags,
  prepareClassForSelectedCurrencyPostProcessing,
} from "src/middleware/postProcessing";

interface Props {
  withTitle?: boolean | undefined;
  class?: string | undefined;
}

const { withTitle, ...otherProps } = Astro.props;
const { t } = await getI18n(Astro.locals.currentLocale);

const getActionCurrency = (value: string) => {
  const requestSearchParams = new URL(Astro.request.url).searchParams;
  const newSearchParams = new URLSearchParams(requestSearchParams);
  newSearchParams.set("action-currency", value);
  return `?${newSearchParams}`;
};
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<Tooltip trigger="click" {...otherProps.class ? otherProps : {}}>
  <div id="content" slot="tooltip-content">
    {
      contextCache.currencies.map((id) => (
        <a
          class:list={[
            "pressable-link",
            prepareClassForSelectedCurrencyPostProcessing({ currency: id }),
          ]}
          href={getActionCurrency(id)}>
          {`${id} (${formatCurrency(id)})`}
        </a>
      ))
    }
  </div>
  <Button
    icon="material-symbols:currency-exchange"
    title={withTitle ? PostProcessingTags.PREFERRED_CURRENCY : undefined}
    ariaLabel={t("header.topbar.currency.tooltip")}
  />
</Tooltip>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  #content {
    display: grid;
    gap: 0.5em;

    & > .current {
      color: var(--color-base-750);
      text-decoration: underline 0.08em var(--color-base-650);
    }
  }
</style>
