---
import Button from "components/Button.astro";
import Tooltip from "components/Tooltip.astro";
import { getI18n } from "src/i18n/i18n";
import { cache } from "src/utils/payload";
import { formatCurrency } from "src/utils/currencies";

interface Props {
  withTitle?: boolean | undefined;
  class?: string | undefined;
}

const { withTitle, class: className } = Astro.props;
const { t } = await getI18n(Astro.locals.currentLocale);

const { currentCurrency } = Astro.locals;
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<Tooltip trigger="click" class={className}>
  <div id="content" slot="tooltip-content">
    {
      cache.currencies.map((id) => (
        <a
          class:list={{
            current: currentCurrency === id,
            "pressable-link": true,
          }}
          href={`?action-currency=${id}`}
          data-astro-prefetch="tap">
          {`${id} (${formatCurrency(id)})`}
        </a>
      ))
    }
  </div>
  <Button
    icon="material-symbols:currency-exchange"
    title={withTitle ? currentCurrency.toUpperCase() : undefined}
    ariaLabel={t("header.topbar.currency.tooltip")}
  />
</Tooltip>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  #content {
    display: grid;
    gap: 0.5em;

    & > .current {
      color: var(--color-base-750);
      text-decoration: underline 0.08em var(--color-base-650);
    }
  }
</style>
