---
import Button from "components/Button.astro";
import Tooltip from "components/Tooltip.astro";
import { getI18n } from "src/i18n/i18n";
import { cache } from "src/utils/cachedPayload";
import { formatLocale } from "src/utils/format";

interface Props {
  withTitle?: boolean | undefined;
  class?: string | undefined;
}

const { withTitle, class: className } = Astro.props;

const { currentLocale } = Astro.locals;
const { t } = await getI18n(currentLocale);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<Tooltip trigger="click" class={className}>
  <div id="content" slot="tooltip-content">
    {
      cache.locales.map(({ id }) => (
        <a
          class:list={{ current: currentLocale === id }}
          href={`?action-lang=${id}`}
          data-astro-prefetch="tap">
          {formatLocale(id)}
        </a>
      ))
    }
  </div>
  <Button
    icon="material-symbols:translate"
    title={withTitle ? currentLocale.toUpperCase() : undefined}
    ariaLabel={t("header.topbar.language.tooltip")}
  />
</Tooltip>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  #content {
    display: grid;
    gap: 0.5em;

    & > .current {
      color: var(--color-base-750);
      text-decoration: underline 0.08em var(--color-base-650);
    }
  }
</style>
