---
import Tooltip from "components/Tooltip.astro";
import { Icon } from "astro-icon/components";
import { getI18n } from "src/i18n/i18n";
import ReturnToButton from "./ReturnToButton.astro";
import RelationRow from "components/RelationRow.astro";
import type { EndpointRelation } from "src/shared/payload/endpoint-types";

interface Props {
  backlinks: EndpointRelation[];
}

const { backlinks } = Astro.props;

const { t } = await getI18n(Astro.locals.currentLocale);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

{
  backlinks.length === 1 && backlinks[0] ? (
    <ReturnToButton relation={backlinks[0]} />
  ) : (
    <Tooltip trigger="click" class="when-js">
      <div id="tooltip-content" slot="tooltip-content">
        <p>{t("header.nav.parentPages.tooltip")}</p>
        <div>
          {backlinks.map((relation) => (
            <RelationRow relation={relation} />
          ))}
        </div>
      </div>
      <button class="pressable-label">
        <Icon name="material-symbols:keyboard-return" />
        <p>
          {t("header.nav.parentPages.label", {
            count: backlinks.length,
          })}
        </p>
      </button>
    </Tooltip>
  )
}

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  #tooltip-content {
    > p {
      margin-bottom: 1em;
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 0.8em;
    }
  }
</style>
