---
import Button from "components/Button.astro";
import Card from "components/Card.astro";
import { getI18n } from "src/i18n/i18n";
import type { EndpointRelation } from "src/shared/payload/endpoint-types";

interface Props {
  parent: EndpointRelation;
}

const { parent } = Astro.props;

const { formatEndpointRelation, t } = await getI18n(Astro.locals.currentLocale);
const { href, target, label } = formatEndpointRelation(parent);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<Card class="card_subpage">
  <p class="font-l">{t("global.subpageCard.message", { title: label })}</p>
  <a href={href} target={target}>
    <Button title={t("global.subpageCard.returnButton")} icon="material-symbols:keyboard-return" />
  </a>
</Card>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  .card_subpage {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: fit-content;
    place-items: start;
  }
</style>
