---
import Button from "components/Button.astro";
import Tooltip from "components/Tooltip.astro";
import { getI18n } from "src/i18n/i18n";

const { currentLocale } = Astro.locals;
const { t } = await getI18n(currentLocale);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<Tooltip trigger="click">
  <div id="content" slot="tooltip-content">
    <a class="pressable-link underline-when-dark" href="?action-theme=dark">
      {t("global.theme.dark")}
    </a>
    <a class="pressable-link underline-when-auto" href="?action-theme=auto">
      {t("global.theme.auto")}
    </a>
    <a class="pressable-link underline-when-light" href="?action-theme=light">
      {t("global.theme.light")}
    </a>
  </div>
  <Button
    class="when-light-theme"
    icon="material-symbols:sunny-outline"
    ariaLabel={t("header.topbar.theme.tooltip")}
  />
  <Button
    class="when-dark-theme"
    icon="material-symbols:dark-mode-outline"
    ariaLabel={t("header.topbar.theme.tooltip")}
  />
</Tooltip>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  #content {
    display: grid;
    gap: 0.5em;
  }

  :global(html.light-theme) a.underline-when-light,
  :global(html.dark-theme) a.underline-when-dark,
  :global(html:not(.light-theme, .dark-theme)) a.underline-when-auto {
    color: var(--color-base-750);
    text-decoration: underline 0.08em var(--color-base-650);
  }
</style>
