---
import { Icon } from "astro-icon/components";
interface Props {
  title: string;
  icon?: string | undefined;
  href: string;
}

const { icon = "material-symbols:folder-outline", title, href } = Astro.props;
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<a href={href} class="pressable">
  <Icon name={icon} />
  <div id="right" class="font-l">
    {title}
  </div>
</a>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  a {
    @media (max-width: 600.5px) {
      flex-grow: 1;
    }

    display: flex;
    place-items: center;
    gap: 1em;
    color: var(--color-base-1000);
    padding: 12px 24px;
    border-radius: 12px;

    & > svg {
      width: 24px;
      height: 24px;
    }

    & > #right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2px;
    }
  }
</style>
