---
import Html from "./components/Html.astro";
import Topbar from "./components/Topbar/Topbar.astro";
import Footer from "./components/Footer.astro";
import type { EndpointSource } from "src/shared/payload/payload-sdk";
import AppLayoutBackgroundImg from "./components/AppLayoutBackgroundImg.astro";
import type { ComponentProps } from "astro/types";

interface Props {
  openGraph?: ComponentProps<typeof Html>["openGraph"];
  parentPages?: EndpointSource[];
  backgroundImage?: ComponentProps<typeof AppLayoutBackgroundImg>["img"] | undefined;
  hideFooterLinks?: boolean;
  hideHomeButton?: boolean;
}

const {
  openGraph,
  parentPages,
  backgroundImage,
  hideFooterLinks = false,
  hideHomeButton = false,
} = Astro.props;
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<Html openGraph={openGraph}>
  <header>
    {backgroundImage && <AppLayoutBackgroundImg img={backgroundImage} />}
    <Topbar parentPages={parentPages} hideHomeButton={hideHomeButton} />
  </header>
  <main><slot /></main>
  <Footer withLinks={!hideFooterLinks} />
</Html>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  header {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  main {
    padding-top: 1.5em;
    padding-bottom: 8em;
    flex-grow: 1;
  }
</style>
