---
import Html from "./components/Html.astro";
import Topbar from "./components/Topbar/Topbar.astro";
import Footer from "./components/Footer.astro";
import AppLayoutBackgroundImg from "./components/AppLayoutBackgroundImg.astro";
import type { ComponentProps } from "astro/types";

interface Props {
  openGraph?: ComponentProps<typeof Html>["openGraph"];
  backgroundImage?: ComponentProps<typeof AppLayoutBackgroundImg>["img"] | undefined;
  hideFooterLinks?: boolean;
  class?: string | undefined;
  topBar?: ComponentProps<typeof Topbar>;
}

const {
  openGraph,
  backgroundImage,
  hideFooterLinks = false,
  topBar = {},
  ...otherProps
} = Astro.props;
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<Html openGraph={openGraph}>
  {backgroundImage && <AppLayoutBackgroundImg img={backgroundImage} />}
  <header>
    <Topbar {...topBar} />
  </header>
  <main {...otherProps.class ? otherProps : {}}><slot /></main>
  <Footer withLinks={!hideFooterLinks} />
</Html>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  header {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  main {
    padding-top: 1.5em;
    padding-bottom: 8em;
    flex-grow: 1;
  }
</style>
