---
import Card from "components/Card.astro";

/*

On larger screens (>= 1280)

header        header-aside
meta          aside
default slot


On smaller screens (<= 1280)

header
header-aside
meta
aside
default slot

*/

interface Props {
  reducedAsideWidth?: boolean;
}

const { reducedAsideWidth = false } = Astro.props;
---

<div id="layout" class:list={{ "reduced-width": reducedAsideWidth }}>
  <div id="left">
    <slot name="header" />
    <div class="when-not-large">
      <slot name="header-aside" />
      <slot name="meta" />
      <slot name="aside" />
    </div>
    <div class="when-large">
      <slot name="meta" />
    </div>
    <slot />
  </div>
  <Card class="when-large right">
    <slot name="header-aside" />
    <slot name="aside" />
  </Card>
</div>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  #layout {
    @media (min-width: 1280.5px) {
      display: grid;
      justify-content: space-between;
      gap: 5rem;
      grid-template-columns: 1fr 35rem;

      &.reduced-width {
        grid-template-columns: 1fr 27rem;
      }

      align-items: start;
    }
  }

  .when-large {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (max-width: 1280.5px) {
      display: none !important;
    }
  }

  .when-not-large {
    display: flex;
    flex-direction: column;
    gap: 64px;

    @media (min-width: 1280.5px) {
      display: none !important;
    }
  }

  #left {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (max-width: 1280.5px) {
      gap: 64px;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 48px;

    background-color: color-mix(in srgb, var(--color-elevation-0) 65%, transparent) !important;
    backdrop-filter: blur(15px);

    @media (prefers-reduced-transparency) or (prefers-contrast: more) {
      background-color: var(--color-elevation-0) !important;
      backdrop-filter: unset;
    }

    @media print {
      background-color: var(--color-base-0) !important;
    }

    padding: 2em;
  }
</style>
