---
import AppLayout from "components/AppLayout/AppLayout.astro";
import Content from "pages/api/content.astro";

const { currentLocale } = Astro.locals;
---

{
  /* ------------------------------------------- HTML ------------------------------------------- */
}

<AppLayout
  breadcrumb={[{ name: "Drakengard", slug: "drakengard" }]}
  title="Others"
  description="This is a page to test the Temporary Language Override™ feature"
>
  <div id="main" slot="main">
    <Content lang={currentLocale} />
  </div>
</AppLayout>

{
  /* ------------------------------------------- CSS -------------------------------------------- */
}

<style>
  #main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0.7rem 1rem;
  }
</style>
