---
import type { RichTextContext } from "src/utils/richText";
import type { RichTextTranscriptBlock } from "src/shared/payload/payload-sdk";
import Block from "components/Blocks/Block.astro";

interface Props {
  node: RichTextTranscriptBlock;
  context: RichTextContext;
}

const { node, context } = Astro.props;
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<div>
  {node.fields.lines.map((block) => <Block block={block} lang={context.lang} />)}
</div>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  div {
    padding-block: 1em;
    display: grid;
    grid-template-columns: [name] auto [text] 1fr;
    gap: 1.5em 2em;
  }
</style>
