---
import Button from "components/Button.astro";

type ButtonProps = Parameters<typeof Button>[0] & {
  href?: string;
};

interface Props {
  buttons: ButtonProps[];
}

const { buttons } = Astro.props;
---

{
  /* ------------------------------------------- HTML ------------------------------------------- */
}

<div class="button-group">
  {
    buttons.map(({ href, ...otherProps }) =>
      href ? (
        <a href={href}>
          <Button {...otherProps} />
        </a>
      ) : (
        <Button {...otherProps} />
      )
    )
  }
</div>

{
  /* ------------------------------------------- CSS -------------------------------------------- */
}

<style>
  .button-group {
    display: flex;
    gap: 0;

    & > :global(*) {
      &:is(button),
      & > :global(button) {
        border-radius: 0;
      }

      &:first-child:is(button),
      &:first-child > :global(button) {
        border-top-left-radius: 9999px;
        border-bottom-left-radius: 9999px;
        border-right: unset;
        padding-right: 0.5em;
      }

      &:last-child:is(button),
      &:last-child > :global(button) {
        border-top-right-radius: 9999px;
        border-bottom-right-radius: 9999px;
        border-left: unset;
        padding-left: 0.5em;
      }
    }
  }
</style>
