---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<div class="error-message">
  <Icon name="material-symbols:error-outline" width={32} height={32} />
  <p id="title">{title}</p>
  {description && <p>{description}</p>}
</div>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  div {
    color: var(--color-critical-error) !important;
    padding: 2em 2em !important;
    margin-block: 4em !important;
    border-radius: 1em;
    display: grid;
    place-items: center;

    & > #title {
      font-weight: 600;
      font-size: 120%;
    }
  }
</style>
