---
import { Icon } from "astro-icon/components";
import type { Attribute } from "src/utils/attributes";

interface Props extends Attribute {}

const { icon, title, values } = Astro.props;

if (values.length === 0) return;
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<div id="container">
  <div class="title">
    <Icon name={icon} />
    <p class="font-xs">{title}</p>
  </div>
  <div class="font-xs">{values.map(({ name }) => name).join(", ")}</div>
</div>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  #container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1em 0.5em;
    line-height: 1.3;

    & > .title {
      display: flex;
      gap: 0.2em;
      color: var(--color-base-750);
      flex-shrink: 0;
    }
  }
</style>
