---
import type { EndpointCredit } from "src/shared/payload/payload-sdk";
import { getI18n } from "src/i18n/i18n";

interface Props {
  credits: EndpointCredit[];
}

const { credits } = Astro.props;
const { getLocalizedMatch } = await getI18n(Astro.locals.currentLocale);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<div id="credits">
  {
    credits.map(({ recorders, role: { translations } }) => (
      <div>
        <p>{getLocalizedMatch(translations).name}</p>
        {recorders.map(({ username }) => username).join(", ")}
      </div>
    ))
  }
</div>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  #credits {
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em 1.5em;

    & > div {
      font-weight: 400;
      font-size: 80%;
      display: flex;
      gap: 0.5em;

      & > p {
        color: var(--color-base-750);
      }
    }
  }
</style>
