---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<a href={href}><slot /></a>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  a {
    height: fit-content;
  }
</style>
