---
import type { TableOfContentEntry } from "src/shared/payload/payload-sdk";

interface Props {
  entry: TableOfContentEntry;
}

const { entry } = Astro.props;
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<li data-prefix={entry.prefix}>
  <a href={`#${entry.prefix}`} class="pressable-link table-of-content-item">{entry.title}</a>
  {
    entry.children.length > 0 && (
      <ol>
        {entry.children.map((entry) => (
          <Astro.self entry={entry} />
        ))}
      </ol>
    )
  }
</li>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  a {
    font-weight: 500;
  }

  li {
    margin-block: 0.5em;
  }

  li {
    &::marker {
      content: attr(data-prefix) "  ";
      color: var(--color-base-650);
      margin-right: 1em;
    }

    line-height: 125%;
  }
</style>

{/* ------------------------------------------- JS --------------------------------------------- */}

<script>
  document.querySelectorAll(".table-of-content-item").forEach((element) => {
    const href = element.getAttribute("href")?.substring(1);
    if (!href) return;
    const heading = document.getElementById(href);
    if (!heading) return;

    element.addEventListener("click", (event) => {
      heading.scrollIntoView({ behavior: "smooth" });
      event.preventDefault();
    });
  });
</script>
