---
interface Props {
  href: string;
  newTab: boolean;
}

const { href, newTab } = Astro.props;
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<a
  href={href}
  target={newTab ? "_blank" : undefined}
  rel={newTab ? "noopener noreferrer" : undefined}>
  <slot />
</a>
