---
import ErrorMessage from "components/ErrorMessage.astro";
import { getI18n } from "src/i18n/i18n";
import { Collections } from "src/shared/payload/payload-sdk";

interface Props {
  doc: {
    relationTo: string;
    value: any;
  };
}

const { doc } = Astro.props;
const { getLocalizedUrl } = await getI18n(Astro.locals.currentLocale);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

{
  doc.relationTo === Collections.Folders ? (
    <a href={getLocalizedUrl(`/folders/${doc.value.slug}`)}>
      <slot />
    </a>
  ) : doc.relationTo === Collections.Collectibles ? (
    <a href={getLocalizedUrl(`/collectibles/${doc.value.slug}`)}>
      <slot />
    </a>
  ) : doc.relationTo === Collections.Pages ? (
    <a href={getLocalizedUrl(`/pages/${doc.value.slug}`)}>
      <slot />
    </a>
  ) : (
    <ErrorMessage title={`Unknown internal link: ${doc.relationTo}`} />
  )
}
