---
import RichText from "components/RichText/RichText.astro";
import type { RichTextContent } from "src/shared/payload/payload-sdk";

interface Props {
  title?: string | undefined;
  description?: RichTextContent | undefined;
}

const { title, description } = Astro.props;
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<div>
  {title && <h4>{title}</h4>}
  {description && <RichText content={description} />}
</div>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    & > h4 {
      font-size: 120%;
      max-width: 35rem;
    }
  }
</style>
