---
import { Icon } from "astro-icon/components";
import SourceRow from "components/SourceRow.astro";
import Tooltip from "components/Tooltip.astro";
import { getI18n } from "src/i18n/i18n";
import type { EndpointSource } from "src/shared/payload/payload-sdk";

interface Props {
  sources: EndpointSource[];
}

const { sources } = Astro.props;

const { t } = await getI18n(Astro.locals.currentLocale);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

{
  sources.length === 0 ? (
    <div class="no-sources error-message">
      <Icon name="material-symbols:warning-outline" />
      <p>{t("timeline.eventFooter.sources", { count: sources.length })}</p>
    </div>
  ) : (
    <Tooltip trigger="click">
      <div id="tooltip-content" slot="tooltip-content">
        {sources.map((source) => (
          <SourceRow source={source} />
        ))}
      </div>
      <div class="pressable-label">
        <Icon name="material-symbols:edit-note" />
        <p>{t("timeline.eventFooter.sources", { count: sources.length })}</p>
      </div>
    </Tooltip>
  )
}

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  #tooltip-content {
    display: grid;
    gap: 0.5em;
    font-size: 1rem;
  }
  .no-sources {
    flex-shrink: 0;
    display: flex;
    place-items: center;
    gap: 0.4em;
    padding: 0.7em 0.8em;
    border-radius: 9999px;

    backdrop-filter: blur(10px);
    color: color-mix(in srgb, var(--color-base-1000) 60%, var(--color-critical-error));
  }
</style>
