---
import { Icon } from "astro-icon/components";
import InlineCredits from "components/InlineCredits.astro";
import MasoActor from "components/Maso/MasoActor.astro";
import Tooltip from "components/Tooltip.astro";
import { getI18n } from "src/i18n/i18n";
import type { EndpointCredit } from "src/shared/payload/payload-sdk";
import { formatLocale } from "src/utils/format";

interface Props {
  currentLang: string;
  availableLanguages: string[];
  getPartialUrl: (locale: string) => string;
  credits: EndpointCredit[];
}

const { availableLanguages, credits, getPartialUrl, currentLang } = Astro.props;

const { t } = await getI18n(Astro.locals.currentLocale);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<Tooltip trigger="click">
  <div id="tooltip-content" slot="tooltip-content">
    {
      availableLanguages.map((id) => (
        <MasoActor href={getPartialUrl(id)}>
          <p class:list={{ current: id === currentLang, "pressable-link": true }}>
            {formatLocale(id)}
          </p>
        </MasoActor>
      ))
    }

    {credits.length > 0 && <InlineCredits credits={credits} />}
  </div>
  <div class="pressable-label">
    <Icon name="material-symbols:translate" />
    <p>
      {
        t("timeline.eventFooter.languages", {
          count: availableLanguages.length,
        })
      }
    </p>
  </div>
</Tooltip>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  #tooltip-content {
    display: grid;
    gap: 0.5em;
    font-size: 1rem;

    & .current {
      color: var(--color-base-750);
      text-decoration: underline 0.08em var(--color-base-650);
    }
  }
</style>
