---
import RTParagraph from "./RTParagraph.astro";
import RTList from "./RTList/RTList.astro";
import RTText from "./RTText/RTText.astro";
import RTLink from "./RTLink/RTLink.astro";
import RTBlock from "./RTBlock/RTBlock.astro";
import type { RichTextContext } from "src/utils/richText";

interface Props {
  node: {
    type: string;
    version: number;
    [k: string]: unknown;
  };
  context: RichTextContext;
}

const { node, context } = Astro.props;

let NodeElement;
switch (node.type) {
  case "paragraph":
    NodeElement = RTParagraph;
    break;

  case "list":
    NodeElement = RTList;
    break;

  case "text":
    NodeElement = RTText;
    break;

  case "link":
    NodeElement = RTLink;
    break;

  case "block":
    NodeElement = RTBlock;
    break;
}
---

{
  NodeElement ? (
    <NodeElement node={node} context={context} />
  ) : (
    <p>{`Unknown node type: ${node.type}. Please contact website technical administrator.`}</p>
  )
}
