---
import type { RichTextContext } from "src/utils/richText";
import RTNode from "./RTNode.astro";
import type { RichTextParagraphNode } from "src/shared/payload/payload-sdk";

interface Props {
  node: RichTextParagraphNode;
  context: RichTextContext;
}

const { node, context } = Astro.props;
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

{
  node.children.length > 0 && (
    <p style={`text-align: ${node.format};`}>
      {node.children.map((node) => (
        <RTNode node={node} context={context} />
      ))}
    </p>
  )
}
