---
import TitleIcon from "components/TitleIcon.astro";
import { getI18n } from "src/i18n/i18n";
import {
  CollectibleBindingTypes,
  CollectiblePageOrders,
  type EndpointCollectible,
} from "src/shared/payload/payload-sdk";

interface Props {
  pageInfo: NonNullable<EndpointCollectible["pageInfo"]>;
}

const {
  pageInfo: { pageCount, bindingType, pageOrder },
} = Astro.props;

const { t } = await getI18n(Astro.locals.currentLocale);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<div id="container">
  <TitleIcon title={t("collectibles.bookFormat")} icon="material-symbols:note-stack" />

  <div id="values">
    <p>{t("collectibles.bookFormat.pageCount", { count: pageCount })}</p>
    {
      bindingType && (
        <p>
          {t(
            bindingType === CollectibleBindingTypes.Hardcover
              ? "collectibles.bookFormat.binding.hardcover"
              : "collectibles.bookFormat.binding.paperback"
          )}
        </p>
      )
    }
    {
      pageOrder && (
        <p>
          {t(
            pageOrder === CollectiblePageOrders.LeftToRight
              ? "collectibles.bookFormat.binding.readingDirection.leftToRight"
              : "collectibles.bookFormat.binding.readingDirection.rightToLeft"
          )}
        </p>
      )
    }
  </div>
</div>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  #container {
    display: flex;
    gap: 0.5em 1em;
    flex-wrap: wrap;

    & > #values {
      display: flex;
      flex-direction: column;
      gap: 6px;
      translate: 0px 6px;
    }
  }
</style>
