---
import CollectiblePreview from "components/Previews/CollectiblePreview.astro";
import TitleIcon from "components/TitleIcon.astro";
import { getI18n } from "src/i18n/i18n";
import type { EndpointCollectible } from "src/shared/payload/payload-sdk";

interface Props {
  subitems: EndpointCollectible["subitems"];
}

const { subitems } = Astro.props;
const { t } = await getI18n(Astro.locals.currentLocale);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<div id="container">
  <TitleIcon title={t("collectibles.contents")} icon="material-symbols:box" />

  <div id="values">
    {subitems.map((subitem) => <CollectiblePreview collectible={subitem} />)}
  </div>
</div>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  #container {
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    gap: 2em;

    & > #values {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: clamp(6px, 2vmin, 16px);
    }
  }
</style>
