---
import TitleIcon from "components/TitleIcon.astro";
import { getI18n } from "src/i18n/i18n";

interface Props {
  weight: number;
}

const { weight } = Astro.props;
const { formatPounds, formatGrams, t } = await getI18n(Astro.locals.currentLocale);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<div id="container">
  <TitleIcon title={t("collectibles.weight")} icon="material-symbols:scale" />
  <p>{formatGrams(weight)}{" "}({formatPounds(weight)})</p>
</div>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  #container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5em 1em;
    align-items: center;

    @media (max-width: 35em) {
      grid-template-columns: 1fr;
    }

    & > p {
      margin-top: 0.5em;
    }
  }
</style>
