---
import { Icon } from "astro-icon/components";
import type { EndpointCollectible } from "src/shared/payload/payload-sdk";
import ContentRow from "./ContentRow.astro";
import { getI18n } from "src/i18n/i18n";

interface Props {
  contents: EndpointCollectible["contents"];
}

const { contents } = Astro.props;
const { t } = await getI18n(Astro.locals.currentLocale);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<div id="title">
  <Icon name="material-symbols:list-alt-outline" width={24} height={24} />
  <p>{t("collectibles.contents")}</p>
</div>

<div id="contents">
  {contents.map((content) => <ContentRow content={content} />)}
</div>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  #title {
    margin-top: 6em;
    margin-bottom: 2em;

    display: flex;
    place-items: center;
    gap: 8px;

    & > p {
      font-size: 1.5em;
      font-variation-settings: "wght" 600;
    }
  }

  #contents {
    display: grid;
    gap: 1em;
  }
</style>
