---
import type { EndpointCollectible } from "src/shared/payload/payload-sdk";
import ContentRow from "./ContentRow.astro";
import { getI18n } from "src/i18n/i18n";
import TitleIcon from "components/TitleIcon.astro";

interface Props {
  contents: EndpointCollectible["contents"];
}

const { contents } = Astro.props;
const { t } = await getI18n(Astro.locals.currentLocale);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<div id="container">
  <TitleIcon title={t("collectibles.contents")} icon="material-symbols:list-alt-outline" />

  <div id="contents">
    {contents.map((content) => <ContentRow content={content} />)}
  </div>
</div>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  #container {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    gap: 2em;

    & > #contents {
      display: grid;
      gap: 1em;
    }
  }
</style>
