---
import Button from "components/Button.astro";
import Tooltip from "components/Tooltip.astro";
import MasoActor from "components/Maso/MasoActor.astro";
import MasoTarget from "components/Maso/MasoTarget.astro";
import { getI18n } from "translations/translations";

export const partial = true;

interface Props {
  lang?: string;
}

const reqUrl = new URL(Astro.request.url);
const lang = Astro.props.lang ?? reqUrl.searchParams.get("lang")!;

const { t } = await getI18n(lang);
---

{
  /* ------------------------------------------- HTML ------------------------------------------- */
}

<MasoTarget>
  <Tooltip trigger="click" class="when-js">
    <Button
      icon="material-symbols:translate"
      title={lang.toUpperCase()}
      ariaLabel={t("header.topbar.language.tooltip")}
    />

    <div id="content" slot="tooltip-content">
      {
        ["en", "fr"].map((locale) => (
          <MasoActor
            class:list={{ current: locale === lang }}
            href={`/api/content?lang=${locale}`}
          >
            {locale.toString().toUpperCase()}
          </MasoActor>
        ))
      }
    </div>
  </Tooltip>
  <div set:html={t("home.description")} />
</MasoTarget>

{
  /* ------------------------------------------- CSS -------------------------------------------- */
}

<style>
  #content {
    display: grid;
    gap: 0.5em;

    & > :global(.current) {
      color: var(--color-base-750);
      text-decoration: underline 0.08em var(--color-base-650);
    }
  }
</style>
