---
import { Icon } from "astro-icon/components";
import RTNode from "../../RTNode.astro";
import type { RichTextContext } from "src/utils/richText";

interface Props {
  node: {
    children: {
      type: string;
      version: number;
      [k: string]: unknown;
    }[];
    type: string;
    version: number;
    [k: string]: unknown;
  };
  context: RichTextContext;
}

const { node, context } = Astro.props;
---

<li>
  <Icon
    name={node.checked
      ? "material-symbols:check-box"
      : "material-symbols:check-box-outline-blank"}
  />
  {node.children.map((node) => <RTNode node={node} context={context} />)}
</li>

<style>
  li {
    &::marker {
      content: "";
    }
    margin-left: -16px;
  }
</style>
