---
interface Props {
  pretitle?: string | undefined;
  title: string;
  subtitle?: string | undefined;
}

const { title, subtitle, pretitle } = Astro.props;
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<h1 class="high-contrast-text">
  {
    pretitle && (
      <span id="pretitle" class="font-2xl">
        {pretitle}&nbsp;
      </span>
    )
  }
  <span class="font-serif font-5xl">{title}&nbsp;</span>
  {
    subtitle && (
      <span id="subtitle" class="font-serif font-2xl">
        {subtitle}
      </span>
    )
  }
</h1>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  h1 {
    line-height: 0.8;

    & > #pretitle {
      font-variation-settings: "wght" 430;
      margin-bottom: 0.8em;
    }

    & > #subtitle {
      margin-top: 0.5em;
    }

    & > span {
      display: block;
    }
  }
</style>
