---
import { Icon } from "astro-icon/components";
import { getI18n } from "src/i18n/i18n";

const { t } = await getI18n(Astro.locals.currentLocale);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<div id="app-layout-spinner"><Icon name="accords" /><p>{t("global.loading")}</p></div>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(720deg);
    }
  }

  #app-layout-spinner {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    place-content: center;
    place-items: center;
    gap: 1em;
    background-color: color-mix(in srgb, var(--color-elevation-0) 90%, transparent);
    z-index: 9999;

    transition-duration: 1s;
    transition-property: opacity;
    transition-delay: 500ms;
    touch-action: none;
    pointer-events: none;
    user-select: none;
    display: grid;
    opacity: 0;

    &.show {
      opacity: 1;
    }

    & > svg {
      animation: spin 2s infinite ease;
      width: 10vmin;
      height: 10vmin;
    }
  }
</style>

{/* ------------------------------------------- JS --------------------------------------------- */}

<script is:inline>
  document.addEventListener("astro:before-preparation", () => {
    document.querySelector("#app-layout-spinner").classList.add("show");
  });
  document.addEventListener("astro:after-preparation", () => {
    document.querySelector("#app-layout-spinner").classList.remove("show");
  });
</script>
