---
import { Icon } from "astro-icon/components";
import Button from "components/Button.astro";
import ThemeSelector from "components/AppLayout/components/ThemeSelector.astro";
import LanguageSelector from "components/AppLayout/components/LanguageSelector.astro";
import CurrencySelector from "components/AppLayout/components/CurrencySelector.astro";
import { getI18n } from "translations/translations";

interface Props {
  breadcrumb: { name: string; slug: string }[];
}

const { breadcrumb } = Astro.props;
const { t } = await getI18n(Astro.locals.currentLocale);
---

{
  /* ------------------------------------------- HTML ------------------------------------------- */
}

<nav id="topbar">
  {
    breadcrumb.length > 0 && (
      <div id="breadcrumb" class="hide-scrollbar">
        <a href="/">
          <>
            <Icon name="accords" width={16} height={16} />
            <p>{t("home.title")}</p>
          </>
        </a>
        {breadcrumb.map(({ name, slug }) => (
          <>
            <Icon
              name="material-symbols:arrow-forward-ios"
              width={12}
              height={12}
            />
            <a href={slug}>
              <p>{name}</p>
            </a>
          </>
        ))}
      </div>
    )
  }
  <div id="toolbar">
    <Button
      icon="material-symbols:search"
      ariaLabel={t("header.topbar.search.tooltip")}
    />
    <div class="separator"></div>

    <div class="when-no-js">
      <a href="/settings">
        <Button
          icon="material-symbols:settings-outline"
          ariaLabel={t("header.topbar.search.tooltip")}
        />
      </a>
    </div>

    <div class="when-js">
      <ThemeSelector />

      <LanguageSelector class="m-not" withTitle />
      <LanguageSelector class="m-only" />

      <CurrencySelector class="m-not" withTitle />
      <CurrencySelector class="m-only" />
    </div>
  </div>
</nav>

{
  /* ------------------------------------------- CSS -------------------------------------------- */
}

<style>
  nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 32px 64px;

    & > #breadcrumb {
      display: flex;
      place-items: center;
      overflow-x: scroll;

      & > svg {
        flex-shrink: 0;
      }

      & > a {
        text-decoration: none;
        flex-shrink: 0;
        display: flex;
        place-items: center;
        gap: 0.4em;
        padding: 0.4em 0.6em;
        border-radius: 9999px;

        transition: 150ms background-color;

        &:hover {
          background-color: var(--color-base-250);
        }

        &:active {
          background-color: var(--color-base-300);
        }

        &:last-child {
          text-decoration: underline;
        }
      }
    }

    & > #toolbar {
      flex-grow: 1;
      display: flex;
      gap: 12px;
      place-items: center;
      justify-content: flex-end;

      @media (max-width: 28rem) {
        justify-content: center;
      }

      @media (max-width: 22rem) {
        justify-content: space-between;
        gap: 0;
      }

      & > .separator {
        width: 1px;
        height: 2em;
        background-color: var(--color-base-700);

        @media (max-width: 20rem) {
          display: none;
        }
      }

      & > div.when-js {
        display: flex;
        gap: 12px;

        & > :global(.m-only) {
          display: none;
        }

        @media (max-width: 40rem) {
          & > :global(.m-only) {
            display: flex;
          }

          & > :global(.m-not) {
            display: none;
          }
        }
      }
    }
  }
</style>

<script is:inline>
  const breadcrumbElem = document.querySelector("nav#topbar > #breadcrumb");
  breadcrumbElem?.scrollTo({
    left: breadcrumbElem.scrollWidth,
    behavior: "instant",
  });
</script>
