---
import { type RichTextUploadAudioNode } from "src/shared/payload/payload-sdk";
import type { RichTextContext } from "src/utils/richText";
import OpenMediaPageButton from "./OpenMediaPageButton.astro";
import { getI18n } from "src/i18n/i18n";
import HeaderTitle from "components/HeaderTitle.astro";
import { Icon } from "astro-icon/components";

interface Props {
  node: RichTextUploadAudioNode;
  context: RichTextContext;
}

const {
  node: {
    value: { id, url, mimeType, translations },
  },
  context,
} = Astro.props;

const { getLocalizedMatch } = await getI18n(Astro.locals.currentLocale);
const { title } = getLocalizedMatch(translations);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<div>
  <HeaderTitle header={context.depth + 2}>
    <Icon name="material-symbols:headphones" />
    {title}
  </HeaderTitle>

  <audio controls>
    <source src={url} type={mimeType} />
  </audio>

  <OpenMediaPageButton url={`/audios/${id}`} />
</div>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  div {
    margin-block: 4em;

    & > audio {
      margin-top: 0.4em;
      margin-bottom: 0.2em;
      width: 100%;
      border-radius: 16px;
      box-shadow: 0 5px 20px -10px var(--color-shadow);
    }
  }
</style>
