---
import { type RichTextUploadVideoNode } from "src/shared/payload/payload-sdk";
import type { RichTextContext } from "src/utils/richText";
import VideoPlayer from "components/VideoPlayer.astro";
import OpenMediaPageButton from "./OpenMediaPageButton.astro";
import { getI18n } from "src/i18n/i18n";
import HeaderTitle from "components/HeaderTitle.astro";
import { Icon } from "astro-icon/components";

interface Props {
  node: RichTextUploadVideoNode;
  context: RichTextContext;
}

const {
  node: { value },
  context,
} = Astro.props;

const { getLocalizedUrl, getLocalizedMatch } = await getI18n(Astro.locals.currentLocale);
const { title } = getLocalizedMatch(value.translations);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<div>
  <HeaderTitle header={context.depth + 2} lang={context.lang}>
    <Icon name="material-symbols:smart-display" />
    {title}
  </HeaderTitle>
  <VideoPlayer video={value} />
  <OpenMediaPageButton url={getLocalizedUrl(`/videos/${value.id}`)} />
</div>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  div {
    margin-block: 4em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
</style>
